<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Hey There, I'm in theAppComponent!</h3>
      <hr />
      <app-servers></app-servers>
      <!--  select by element -->
      <!-- <div app-servers></div>  Select by attribute -->
      <!-- <div class="app-servers"></div> Select by class-->

      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>

      <app-apply-button></app-apply-button>
      <app-cancel-button></app-cancel-button>
      <br />
      <app-footer-buttons></app-footer-buttons>
    </div>
  </div>
</div>
