<label>Server Name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)" /> -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<!-- <p>{{ serverName }}</p> -->

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>

<!-- 
'*' indicates it's a "structural" directive
it changes the structure of the DOM (add or not the element)

Notes: '#' is a local reference (a marker). It can be used to mark certain reference in the template 
to show content conditionally -->

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCrated; else noServer">
  Server was created, server name is {{ serverName }}
</p>
<!-- <p *ngIf="!serverCrated">No Server was created!</p> -->
<ng-template #noServer>
  <p>No Server was created!</p>
</ng-template>

<app-server></app-server>
<app-server></app-server>
